@charset "utf-8";

/*-----------------------------------------------
 __default style clear
-----------------------------------------------*/

* {
	margin:auto;
	padding:0;
}

body {
	background:white;
	font-size:90%;
	font-family:verdana,"ヒラギノ角5 Pro W3","Hiragino Kaku Gothic Pro",Osaka,Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	color:#333;
	line-height:1.5;
	/* background-image:('images/');
/*    background-image: url(images/);*/
/*    background-image: url(images/);*/
/*    background-image: url(images/);*/
	background-size: cover;
	background-repeat: repeat; */
}

html {
	overflow-y:scroll;
}

p {
	margin:0 0 1em;
}

li {
	list-style:none;
	line-height:1.3;
}

img,
fieldset {
	border:0;
}

/* #index{
    background-image:('images/');
/*    background-image: url(images/);*/
/*    background-image: url(images/);*/
/*    background-image: url(images/);*/
    background-size: cover;
    background-repeat: repeat;

/* } */ */

.bkRGBA{
  /* 背景画像を透過する */
  height: 100%;
  background: rgba(255,255,255,0.6);

}

/*-----------------------------------------------
 __header
-----------------------------------------------*/

#header {
	margin-top: 0;
/*	margin-bottom:1px;*/
    padding: 50px;
	min-width:500px;
/*	background:#EFEFEF;*/

    background-color: rgba(192,192,192,0.5);

/*     background: rgba(255,255,255,0.1);*/
}

#header h1 {
	padding:10px 15px;
    color: black;
}

#header p {
	padding:0 15px 10px 30px;
}


/*-----------------------------------------------
 __footer
-----------------------------------------------*/

#footer {
	clear:both;
	width:100%;
	min-width:500px;
	padding-top:5px;
	padding-bottom:5px;
/*	background:#E5E5E5;*/



    background-color: rgba(255,255,255,0.1);
}

#footer ul {
	margin:15px auto 10px;
	text-align:center;
}

#footer ul li {
	display:inline;
	margin-right:5px;
	padding-left:10px;
	line-height:1.1;
	border-left:1px solid white;
}

#footer ul li.utilityHome {
	border-left:0;
}




/*-----------------------------------------------
 __main
-----------------------------------------------*/

#main {
	float:left;
	width:100%;
}

.text{
	color: black;
	font-size: 1000px;
}


/* __inner
------------------------------------------*/

.inner {
	min-width:350px;
	margin:0 0 15px 200px;
	padding:10px 15px 5px;
/*	background:#E7FBEE;*/

    background-color: rgba(192,192,192,0.8);

/*    background: rgba(255,255,255,0.6);*/
}

#main .inner h2 {
	margin-bottom:10px;
	font-size:180%;
}


/*-----------------------------------------------
 __sub
-----------------------------------------------*/

#sub {
	float:left;
	width:185px;
	margin-left:-100%;
	margin-bottom:15px;
	padding:15px 0 0 0;
/*	background:#FBF9E7;*/

    background-color: rgba(192,192,192,0.7);

/*     background: rgba(255,255,255,0.7);*/
}

#sub h3 {
	margin-bottom:5px;
	margin-left:15px;
	font-size:100%;
	letter-spacing: 1px;
}

#sub ul {
	margin:0 15px 20px;
}

#sub ul li {
	padding:3px 5px;
	border-bottom:1px solid #CCC;
}

#sub ul li a {
	text-decoration:none;
}

#sub ul li a:hover {
	text-decoration:underline;
}

.required{
    font-size: 25px;
}
.title{
    width: 350px;
    height: 30px;
    font-size: 30px;
}
.article{
    font-size: 20px;
    width: 1200px;
    height: 500px;
}
.btn{
    background-color: #009cd3;
    color: #ffffff;
    font-size: 20px;
    width: 120px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    border: 3px solid #009cd3;

}
.btn:hover{
    background-color: #ffffff;
    color: #009cd3;
    cursor: pointer;
}
